<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/249b712e24.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
        .content {
            background-color: rgb(181, 197, 197);
            min-height: 600px;
        }
        .fields{
            margin-top: 50px;
        }
       
    </style>


</head>

<body>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary w-50"><i
                                class="fa-solid fa-house fs-6 me-2"></i>Home</button>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary mt-4 w-50"><i
                                class="fa-solid fa-plus fs-6 me-2"></i>Add Apps </button>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4 content">

            <div class="mb-3 mt-4 text-center">
                <img id="uploadImage" width="200" height="200"
                    src="https://img.icons8.com/ios/200/placeholder-thumbnail-document.png"
                    alt="placeholder-thumbnail-document" />
                    <input type="file" id="formFile" style="display: none;">
            </div>


            <div class="fields">
                <div class="row p-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                </div>

                <div class="row p-4">
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 text-center mt-4">
                    <button type="button" class="btn btn-primary w-50">Primary</button>

                </div>
            </div>

        </div>
        <div class="col-md-4">

        </div>
    </div>

</body>
<script>
    document.getElementById('uploadImage').addEventListener('click', function () {
        document.getElementById('formFile').click();
    });

    document.getElementById('formFile').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('uploadImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>

</html>